confluent-kafka
python-dotenv 
pydantic
bytewax
newsdataapi 
newsapi-python 
requests
fire
langchain
pydantic-settings 
streamlit
pytest 
faker
qdrant-client
pymongo
beautifulsoup4
feedparser
langchain-groq
supervisor
google-generativeai