confluent-kafka
python-dotenv 
pydantic
unstructured 
bytewax
newsdataapi 
newsapi-python 
requests
transformers 
fire
langchain
pydantic-settings 
sentence-transformers 
streamlit
pytest 
faker
qdrant-client
pymongo
beautifulsoup4
selenium
feedparser
langchain-groq
supervisor
google-generativeai